{% extends "blog/base.html" %}
{% block title %}Tech | Dead Air Archives{% endblock %}
{% block content %}

<div class="box">
  <h1>Tech</h1>
  <p>
    This section is where I’ll share tools, trends, and articles that I find worth highlighting — from backend architecture and open-source tools to breakthrough AI and digital sovereignty.
  </p>
</div>

<div class="box">
  <h2>📰 Articles Worth Reading</h2>
  <ul style="line-height: 1.8;">
    <li><a href="https://techcrunch.com/2025/06/11/sam-altman-thinks-ai-will-have-novel-insights-next-year/" target="_blank">Sam Altamn thinks AI will have "novel insights" next year.</a></li>
    <li><a href="https://www.phoronix.com/news/Linux-DAMON-By-Default-No" target="_blank">Linus Torvalds Rejects The Idea Of Enabling DAMON By Default In The Linux Kernel</a></li>
    <li><a href="https://apnews.com/article/spyware-italy-paragon-meloni-pegasus-f36dd32106f44398ee24001317ccf2bb" target="_blank">US-backed Israeli company’s spyware used to target European journalists, Citizen Lab finds</a></li>
  </ul>
  <p style="margin-top: 1em;">I'll keep this updated as I discover and revisit content that speaks to where tech is really heading.</p>
</div>

{% endblock %}
